

<h2>Eddit A Link</h2>



<div class="location-center">
    <form id="form" action="/cinema/update/{{theLink._id}}" method="POST" enctype="multipart/form-data">
      <h2>Edit {{theLink.siteName}} Link</h2>

        <label for="siteName">siteName</label>
        <input class="form-control" type="text" name="name" value="{{theLink.siteName}}">

        <label for="siteLink">siteLink</label>
        <input class="form-control" type="text" name="link" value="{{theLink.siteLink}}">

        <label for="poster">Poster</label>
        <input class="form-control" type="file" name="photo">

        <button class="btn btn-dark">Edit Link</button>
        <br> <br>
    </form>
</div>
