


<h2>Creation New Link</h2>

<div class="location-center">
    <form id="form" action="/cinema/new" method="POST">
      <h2>New Link</h2>
  
      <label for="siteName">siteName</label><br>
      <input class="form-control" type="text" name="siteName" placeholder="solar movies">
      <br>
  
      <label for="siteLink">siteLink</label><br>
      <input class="form-control" type="text" name="siteLink" placeholder="http://www6.solarmoviesc.com">
      <br>

      <button class="btn btn-dark">Create link</button>
      <br> <br>
    </form>
</div>
