<h2> Add Movie Page</h2>

<div class="container">
  <div class="row">

    {{!-- In construction --}}
    <div class="col-12 col-md-4">
      <div class="location-center">
        {{!-- <form action="/movies/addMovie" method="POST" enctype="multipart/form-data">
          <h5>Add a link to this movie from cinema</h5>

          <label for="title">Link</label>
          <input class="form-control" type="text" name="link" placeholder="https://www.123moviesplay.com/?s=star">
          <br> --}}
          {{!-- <button class="btn btn-dark">Submit</button> --}}
        </form>

      </div>
    </div>


      <div class="col-12 col-md-4">
        <form action="/movies/addMovie" method="POST" enctype="multipart/form-data">
          <h2>Add a New Movie To The Library</h2>

          <label for="title">Title</label>
          <input class="form-control" type="text" name="title" placeholder="star wars">

          <label for="genre">Genre</label>
          <input class="form-control" type="text" name="genre" placeholder="comedy">

          <label for="imdbRating">imdbRating</label>
          <input class="form-control" type="text" name="imdbRating" placeholder="7.2">

          <label for="imageSrc">imageSrc</label>
          <input class="form-control" type="text" name="imageSrc" placeholder="http://star-wars-poster.jpg">

          <label>Poster</label>
          <input class="form-control" type="file" name="photo">

          <label for="title">Link</label>
          <input class="form-control" type="text" name="links" placeholder="https://ymovies.tv/?s=star&genre=&years=">
          <br>

          <br>
          <button class="btn btn-dark">Create</button>
        </form>
      </div>

    
    <div class="col-12 col-md-4">
      <label for="links">Cinema links</label>
      <div class="location-center">

        <select class="form-control" name="openNewPage" onchange="window.open(this.value, '_blank');">
          <option value="">Select Cinema</option>
          {{#each links}}
          <option value="{{this.siteLink}}">{{this.siteLink}}</option>
          {{/each}}
        </select>
      </div>
    </div>


    
  </div>
</div>
  
  

