<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

    {{!-- <!-- JUMBOTRON -->
    <div class="jumbotron text-center">
      <div class="container">
        <h1>Welcome To My Website</h1>

        <!-- results of movies -->
        <div class="container">
         <div id="results" class="row"></div>
        </div> --}}


      